<h2 class="mt-5">Add New</h2>
<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="form.first_name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="form.last_name">
  </div>
  <button type="submit" class="btn btn-primary" (click)="handleSubmit()">Submit</button>
</form>
