<div class="app">
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-light fixed-true navbar-expand-lg">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="list" class="nav-link">
                List
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="detail/1" class="nav-link">
                Detail
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="app-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer">
    <div class="container"></div>
  </footer>
</div>
